<footer class="site-footer section-padding" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-white mb-4 me-5">Tuzin's Burgers</h4>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Ubicación</h6>

                <p>GDOR ROCA-MISIONES <strong>RUTA 12</strong></p>

                <a
                    href="https://www.google.co.th/maps/place/Tuzin's+Burger/@-27.198748,-55.4791998,424m/data=!3m1!1e3!4m15!1m8!3m7!1s0x89c28cbc20c4a6bf:0x270fbee72e574556!2sEinstein+Loop+N,+Bronx,+NY+10475,+USA!3b1!8m2!3d40.8652381!4d-73.8223878!16s%2Fg%2F1tgyxmzv!3m5!1s0x94f80b08c5e981c1:0xbd8629d5bc45822a!8m2!3d-27.1982872!4d-55.4784238!16s%2Fg%2F11sjm0w_c6?hl=en&entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D"
                    class="custom-btn btn btn-dark mt-2">COMO LLEGAR</a
                >
            </div>

            <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Horarios de atención</h6>

                <p class="mb-2">Sábados y Domingos</p>

                <p>19:00 - 23:00 HRS.</p>

                <p>
                    Tel: <a href="tel: 3765489297" class="tel-link"
                        ><strong>3765-</strong>489297</a
                    >
                </p>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">
                    Seguinos en nuestras redes
                </h6>

                <ul class="social-icon">
                    <li>
                        <a
                            href="https://www.instagram.com/tuzinburgerr/"
                            class="social-icon-link bi-facebook"></a>
                    </li>

                    <li>
                        <a
                            href="https://www.instagram.com/tuzinburgerr/"
                            class="social-icon-link bi-instagram"></a>
                    </li>

                    <li>
                        <a
                            href="https://www.youtube.com/"
                            class="social-icon-link bi-youtube"></a>
                    </li>
                </ul>

                <p class="copyright-text tooplate-mt60">
                    Copyright © 2024 Tuzin's Burgers.
                    <br />Design: <a
                        rel="nofollow"
                        href="https://www.github.com/guille1093"
                        target="_blank">GQ</a
                    >
                </p>
            </div>
        </div><!-- row ending -->
    </div><!-- container ending -->
</footer>
