<section class="hero" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 m-auto">
                <div class="heroText">
                    <h1 class="text-white mb-lg-5 mb-3 mt-sm-4">
                        Hamburguesas <br />
                        <span class="text-danger">caseras a la parrilla</span>
                    </h1>
                    <h2 class="text-white fs-5">
                        Una dieta equilibrada es una hamburguesa en cada mano
                    </h2>

                    <div
                        class="c-reviews my-3 d-flex flex-wrap align-items-center"
                    >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div
                    id="carouselExampleCaptions"
                    class="carousel carousel-fade hero-carousel slide"
                    data-bs-ride="carousel"
                >
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-image-wrap">
                                <img
                                    src="images/hamb2.jpg"
                                    class="img-fluid carousel-image"
                                    alt="hamburguesa AMERICANA"
                                    style="height: 400px;"
                                />
                            </div>

                            <div class="carousel-caption">
                                <h4 class="hero-text">AMERICANA</h4>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-image-wrap">
                                <img
                                    src="images/hamb3.jpg"
                                    class="img-fluid carousel-image"
                                    alt="hamburguesa Argenta"
                                    style="height: 400px;"
                                />
                            </div>

                            <div class="carousel-caption">
                                <h4 class="hero-text">ARGENTA</h4>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-image-wrap">
                                <img
                                    src="images/hamb4.jpg"
                                    class="img-fluid carousel-image"
                                    alt="hamb yankee"
                                    style="height: 400px;"
                                />
                            </div>

                            <div class="carousel-caption">
                                <h4 class="hero-text">YANKEE</h4>
                            </div>
                        </div>
                    </div>

                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev"
                    >
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next"
                    >
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="video-wrap">
        <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="video/hero-bg.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="overlay"></div>
</section>
