<section class="menu section-padding" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-lg-5 mb-4">Nuestras variedades</h3>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img
                            src="images/hamb6.jpg"
                            class="img-fluid menu-image"
                            alt="burger"
                        />
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h4 class="mb-0">Hamburtuzi Doble Cheddar</h4>

                        <p>
                            Pan de papa, blend de carne de 120g a la parrilla y
                            doble queso cheddar
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img
                            src="images/hamb4.jpg"
                            class="img-fluid menu-image"
                            alt="burger"
                        />
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h4 class="mb-0">Hamburtuzi Yankee</h4>

                        <p>
                            Pan de papa, blend de carne de 120g a la parrilla,
                            cheddar, pepinillos, cebolla colorada y ketchup.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img
                            src="images/hamb2.jpg"
                            class="img-fluid menu-image"
                            alt="burger"
                        />
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h4 class="mb-0">Hamburtuzi Americana</h4>

                        <p>
                            Pan de papa, blend de carne de 120g a la parrilla,
                            panceta, cheddar, cebolla caramelizada y huevo
                            frito.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img
                            src="images/hamb3.jpg"
                            class="img-fluid menu-image"
                            alt="burg"
                        />
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h4 class="mb-0">Hamburtuzi Argenta</h4>
                        <p>
                            Pan de papa, blend de carne de 120g a la parrilla, lechuga, tomate, jamón, queso y huevo frito.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
