<section class="news section-padding" id="about">
    <div class="container">
        <div class="row">
            <h3 class="text-center mb-lg-5 mb-4">
                La historia de la Tuzinburger
            </h3>
            <p class="text-lg italic font-epic" style="text-align: justify;">
                Desde siempre, José ha sido un apasionado de la gastronomía y un
                incansable viajero. Su amor por los sabores y la cocina lo llevó
                a recorrer el mundo, trabajando en restaurantes de primer nivel,
                desde las exclusivas playas de Punta del Este en Uruguay hasta
                los paisajes espectaculares de Nueva Zelanda. <br />
                <br />
                En cada lugar, absorbió lo mejor de cada cultura culinaria, perfeccionando
                una receta que se convertiría en su sello personal. Su búsqueda no
                era solo por el plato perfecto, sino por una hamburguesa que capturara
                la esencia de sus viajes, la pasión por la buena comida y la dedicación
                a la excelencia. <br />
                <br />
                Hoy, esa búsqueda culmina en la hamburguesa que tienes frente a ti.
                No es solo un plato, es la expresión de años de aprendizaje, innovación
                y amor por la gastronomía. Una experiencia que promete llevarte en
                un viaje de sabores tan inolvidable como el que llevó a José a crearla.
            </p>
        </div>
    </div>
</section>
